/* education section */
.education{
    /* text-align: center; */
    /* font-size: 30px; */
    /* margin-top: 40px; */
    /* background-color: rgb(207, 232, 240); */
    padding: 10px 10px;
    background-image: url(education_backgroud.webp);
    background-position: px 0px;
    background-repeat: repeat-x;
    animation: animate 25s linear infinite alternate;
    background-size: cover;
    
    /* height: 400px; */
    
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 50% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
.edu{
    text-align: center;
    font-size: 40px;
    /* height: 400px; */
}
.edu-para{
    text-align: center;
}
.inver{
    width:80%;
    /* height: 180px; */
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    /* justify-content: space-around; */
    display: flex;
}
.image{
    padding: 6px 4px;
    height: 100;
    width: 36%;
}
.in{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 3px 4px grey;
    /* float: left; */
}
.kcmt{
    width: 100%;
    /* float: left; */
    height: 100%;
    border-radius: 8px;
    box-shadow: 3px 3px 4px grey;
}
.he{
   margin-left: 12px;
   /* margin-top: 50px; */
}
.inhead{
    color: darkblue;
    font-size:35px;
    /* margin-top: 100px; */
    font-weight: bold;
}
.para1{
    margin-top: 40px;
    font-size: larger;
}
.para2{
    font-size: x-large;
    color: rgb(3, 161, 3);
}
.img{
    padding: 4px 4px;
    height: 100;
}

@media screen and (max-width:965px){
 .inver{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .image{
    width: 80%;
    
 }
 .he{
    width: 80%;
 }
}
